<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name=" TEST SUITE">


	<parameter name="parallelRun" value="false" />
	<parameter name="isGUI" value="true" />


	<test name="Chrome Test" thread-count="1" verbose="2">

		<parameter name="browserName" value="Chrome" />
		<parameter name="environmentName" value="PreProduction" />
		<parameter name="performanceFlag" value="false" />
		<parameter name="isSelfHealing" value="true" />
		<parameter name="text" value="email" />

		<groups>
			<run>
				<include name="test" />
			</run>
		</groups>
		<packages>
			<package name="org.client.*" />
		</packages>

	</test>

	<!-- <test name="Opera Test" thread-count="1" verbose="2">
		<parameter name="browserName" value="Opera" />
		<parameter name="environmentName" value="PreProduction" />
		<parameter name="performanceFlag" value="false" />
		<parameter name="text" value="gmail" />
		<groups>
			<run>
				<include name="test" />
			</run>
		</groups>
		<packages>
			<package name="org.client.*" />
		</packages>
	</test>
 -->
	<listeners>
		<listener class-name="org.client.UI.core.ParallelRunListners" />
	</listeners>

</suite>

